.stack-container
{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.stack-container-left
{
    text-align: left;
    display: flex;
    flex-direction: column;
}

.horizontal-container
{
    display: flex;
    flex-direction: row;
}