.stack-container,
#right-container,
#main-container
{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.large-input-text
{
    font-size: 20px;
    font-family: PixelMPlus12;
    src: url("../fonts/PixelMplus12-Regular.ttf");
}

.header-text
{
    padding: 5px 5px 5px 5px;
    font-size: 20px;
}

.file-upload
{
    display: none;
}

.value
{
    border-style: solid;
    border-color: #9C51CB;
    border-width: 2px;
    width: 35px;
    height: 35px;
    border-radius: 2px;
    background-color: #FCEDFF;
    text-align: center;
}

.stack-container-left
{
    text-align: left;
    display: flex;
    flex-direction: column;
}

.horizontal-container
{
    display: flex;
    flex-direction: row;
}

.horizontal-space-between-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-wrapper
{
    width: 900px;
    display: flex;
    flex-direction: row;
}

.horizontal-container-right
{
    width: 650px;
    display: flex;
    flex-direction: row-reverse;
}

.left-container
{
    width: 230px;
    overflow: hidden;
    padding: 10px;
}

.main-container
{
    width: 400px;
    overflow: hidden;
    padding: 10px;
}

.right-container
{
    width: 200px;
    overflow: hidden;
    padding: 10px;
}

.box
{
    width: 100%;
    border-style: solid;
    border-color: #9C51CB;
    border-width: 2px;
    background-color: white;
}

.round-box
{
    border-radius: 10px;
    width: 100%;
    border-style: solid;
    border-color: #9C51CB;
    border-width: 2px;
    background-color: white;
}

.input-details
{
    width: 30px;
}

.textarea
{
    resize: vertical;
}

.star-checkbox
{
    display: none;
}

.bottom-spacer
{
    margin-bottom: 5px;
}

.left-spacer
{
    margin-left: 0px;
}