.skill-checkbox
{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.skill-checkbox:hover {
    background-color: #ccc;
}

.skills-box
{
    width: 230px;
    border-style: solid;
    border-color: #9C51CB;
    border-width: 2px;
}

.skill-value
{
    width: 30px;
    border: none;
    border-color: #9C51CB;
    border-bottom: 1px solid;
}