ul
{
    list-style-type: none;
}

.spellcasting-box
{
    width: 150px;
    border-style: solid;
    border-color: #9C51CB;
    border-width: 2px;
}

.bottom-box
{
    width: 30px;
    border: none;
    border-bottom: 1px solid;
}

