.stats-box
{


}

.stats-bar
{
    width: 100%;
    background-color: white;
    padding: 10px 10px 10px 10px;
}

ul
{
    display: flex;
    flex-direction: row-reverse;
}

li
{
    display: inline;
}

input
{
    text-align: center;
    width: 100px;
}


