.pfp
{
    position: absolute;
    top: -125px;
    width: 200px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
}

.pfp-wrapper
{
    width: 250px;
    position: relative;
}

.stats-bar
{
    width: 100%;
    background-color: white;
    padding: 10px 10px 10px 10px;
}

ul
{
    display: flex;
    flex-direction: row-reverse;
}

li
{
    display: inline;
}

.stats-input
{
    text-align: center;
    width: 100px;
}


