#banner {
    background-image: url("./img/banner.jpg");
    background-position: center center;
    background-size: cover;
    height: 10%;
    text-align: center;
    position: relative;
}

#banner header {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #212121;
    background: rgba(27, 27, 27, 0.75);
    color: #fff;
    padding: 1.5em 0;
}

#banner header h2 {
    display: inline-block;
    margin: 0;
    font-size: 1.25em;
    vertical-align: middle;
}

    #banner header h2 em {
        opacity: 0.75;
    }

    #banner header h2 a {
        border-bottom-color: rgba(255, 255, 255, 0.5);
    }

        #banner header h2 a:hover {
            border-bottom-color: transparent;
        }

#banner header .button {
    vertical-align: middle;
    margin-left: 1em;
}

@font-face {
    font-family: PixelMPlus12;
    src: url("./fonts/PixelMplus12-Regular.ttf");
}

body {
    font-family: PixelMPlus12;
    background-color: lightpink;
}

    