.banner {
    background-image: url("./img/banner.jpg");
    background-position: center center;
    background-size: cover;
    height: 200px;
    position: relative;
}

.center-wrapper
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: PixelMPlus12;
    src: url("./fonts/PixelMplus12-Regular.ttf");
}

body {
    font-family: PixelMPlus12;
    background-color: #FCEDFF;
    margin: 0;
    padding: 0;
}

    