<div th:fragment="battle-stats">
    <link rel="stylesheet" th:href="@{/fragments/battle-stats.css}"/>
    <link rel="stylesheet" th:href="@{/fragments/shared.css}"/>
    <link rel="stylesheet" href="../../static/fragments/battle-stats.css"/>
    <link rel="stylesheet" href="../../static/fragments/shared.css"/>

    <div class="box">
        <form th:action="@{sheet}" th:object="${sheet}" method="get">
            <div class="stack-container">
                <div th:replace="~{./fragments/status :: status}"></div>
                <div class="horizontal-container">
                    <div class="stats">
                        <div class="stack-container">
                            <input th:field="*{stats.armorClass}" />
                            AC
                        </div>
                    </div>
                    <div class="stats">
                        <div class="stack-container">
                            <input th:field="*{stats.initiative}" />
                            INIT
                        </div>
                    </div>
                    <div class="stats">
                        <div class="stack-container">
                            <input th:field="*{stats.speed}" />
                            SPD
                        </div>
                    </div>
                    <div class="stats">
                        <div class="stack-container">
                            <div class="horizontal-container">
                                <label>MAX:</label><input th:field="*{stats.hitDice.y}" />
                            </div>
                            <input th:field="*{stats.hitDice.x}" />
                            HITDICE
                        </div>
                    </div>
                </div>
                <div class="horizontal-container">
                    <div class="horizontal-container">
                        <img src="../../static/img/banner.jpg" width="20" height="20">
                        <input th:field="*{bag.gold}" class="input-details"/>
                    </div>
                    <div class="horizontal-container">
                        <img src="../../static/img/banner.jpg" width="20" height="20">
                        <input th:field="*{stats.health.x}" class="input-details"/>
                        <input th:field="*{stats.health.y}" class="input-details"/>
                    </div>
                    <div class="horizontal-container">
                        <img src="../../static/img/banner.jpg" width="20" height="20">
                        <input th:field="*{stats.tempHealth}" class="input-details"/>
                    </div>
                    <div class="horizontal-container">
                        <img src="../../static/img/banner.jpg" width="20" height="20">
                        <input class="input-details"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
