<div th:fragment="proficiencies">
    <link rel="stylesheet" href="../../static/fragments/proficiencies.css"/>
    <form class="stats-bar">
        <section class="">
            <ul>
                <li>
                    PROFICIENCIES
                    <textarea id="w3review" name="w3review" rows="4" cols="50"></textarea>
                </li>
                <li>
                    LANGUAGES
                    <textarea id="w3review" name="w3review" rows="4" cols="50"></textarea>
                </li>
        </section>
    </form>
</div>