<div th:fragment="proficiencies">
    <link rel="stylesheet" th:href="@{/fragments/proficiencies.css}"/>
    <link rel="stylesheet" th:href="@{/fragments/shared.css}"/>
    <link rel="stylesheet" href="../../static/fragments/proficiencies.css"/>
    <link rel="stylesheet" href="../../static/fragments/shared.css"/>

    <div class="box">
        <form th:action="@{sheet}" th:object="${sheet}" method="get">
            <div class="stack-container">
                <div class="stack-container">
                    <div class="header-text">PROFICIENCIES</div>
                    <textarea th:field="*{proficiencies.proficiencies}" id="proficiencies" class="textarea" onchange="updateProficiencies()"></textarea>
                </div>
                <div class="stack-container">
                    <div class="header-text">LANGUAGES</div>
                    <textarea th:field="*{proficiencies.languages}" id="languages" class="textarea" onchange="updateProficiencies()"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>