<div th:fragment="proficiencies">
    <link rel="stylesheet" th:href="@{/fragments/proficiencies.css}"/>
    <link rel="stylesheet" th:href="@{/fragments/shared.css}"/>
    <link rel="stylesheet" href="../../static/fragments/proficiencies.css"/>
    <link rel="stylesheet" href="../../static/fragments/shared.css"/>
    <form class="">
        <div class="proficiencies-box">
            <ul class="stack-container">
                <li class="stack-container">
                    PROFICIENCIES
                    <textarea class="proficiencies-textbox"></textarea>
                </li>
                <li class="stack-container">
                    LANGUAGES
                    <textarea class="proficiencies-textbox"></textarea>
                </li>
            </ul>
        </div>
    </form>
</div>