<div th:fragment="saving-throws">
    <link rel="stylesheet" href="../../static/fragments/saving-throws.css"/>
    <link rel="stylesheet" th:href="@{/fragments/shared.css}"/>
    <link rel="stylesheet" href="../../static/fragments/shared.css"/>
    <link rel="stylesheet" th:href="@{/fragments/saving-throws.css}"/>

    <div class="box">
        <form th:action="@{sheet}" th:object="${sheet}" method="get">
            <div class="header-text">SAVING THROWS</div>
            <div class="stack-container-left">
              <div class="bottom-spacer">
                <input class="star-checkbox" type="checkbox" th:checked="*{savingThrows.strength.y}" id="strength-checkbox" onchange="updateSavingThrows()" />
                  <label for="strength-checkbox"><img th:src="@{/img/star.png}" /></label>
                <input th:field="*{savingThrows.strength.x}" class="value large-input-text" name="" placeholder="0" id="strength" onchange="updateSavingThrows()" />
                  <label th:text="'Strength (' + *{stats.strength.y} + ')'" class="saving-throws-text"></label>
              </div>
              <div class="bottom-spacer">
                <input class="star-checkbox" type="checkbox" th:checked="*{savingThrows.dexterity.y}" id="dexterity-checkbox" onchange="updateSavingThrows()" />
                  <label for="strength-checkbox"><img th:src="@{/img/star.png}" /></label>
                <input th:field="*{savingThrows.dexterity.x}" class="value large-input-text" name="" placeholder="0" id="dexterity" onchange="updateSavingThrows()" />
                  <label th:text="'Dexterity (' + *{stats.dexterity.y} + ')'" class="saving-throws-text"></label>
              </div>
              <div class="bottom-spacer">
                <input class="star-checkbox" type="checkbox" th:checked="*{savingThrows.constitution.y}" id="constitution-checkbox" onchange="updateSavingThrows()" />
                  <label for="strength-checkbox"><img th:src="@{/img/star.png}" /></label>
                <input th:field="*{savingThrows.constitution.x}" class="value large-input-text" name="" placeholder="0" id="constitution" onchange="updateSavingThrows()" />
                  <label th:text="'Constitution (' + *{stats.constitution.y} + ')'" class="saving-throws-text"></label>
              </div>
              <div class="bottom-spacer">
                <input class="star-checkbox" type="checkbox" th:checked="*{savingThrows.intelligence.y}" id="intelligence-checkbox" onchange="updateSavingThrows()" />
                  <label for="strength-checkbox"><img th:src="@{/img/star.png}" /></label>
                <input th:field="*{savingThrows.intelligence.x}" class="value large-input-text" name="" placeholder="0" id="intelligence" onchange="updateSavingThrows()" />
                  <label th:text="'Intelligence (' + *{stats.intelligence.y} + ')'" class="saving-throws-text"></label>
              </div>
              <div class="bottom-spacer">
                <input class="star-checkbox" type="checkbox" th:checked="*{savingThrows.wisdom.y}" id="wisdom-checkbox" onchange="updateSavingThrows()" />
                  <label for="strength-checkbox"><img th:src="@{/img/star.png}" /></label>
                <input th:field="*{savingThrows.wisdom.x}" class="value large-input-text" name="" placeholder="0" id="wisdom" onchange="updateSavingThrows()" />
                  <label th:text="'Wisdom (' + *{stats.wisdom.y} + ')'" class="saving-throws-text"></label>
              </div>
              <div class="bottom-spacer">
                <input class="star-checkbox" type="checkbox" th:checked="*{savingThrows.charisma.y}" id="charisma-checkbox" onchange="updateSavingThrows()" />
                  <label for="strength-checkbox"><img th:src="@{/img/star.png}" /></label>
                <input th:field="*{savingThrows.charisma.x}" class="value large-input-text" name="" placeholder="0" id="charisma" onchange="updateSavingThrows()" />
                  <label th:text="'Charisma (' + *{stats.charisma.y} + ')'" class="saving-throws-text"></label>
              </div>
            </div>
        </form>
    </div>
</div>