<div th:fragment="saving-throws">
    <link rel="stylesheet" href="../../static/fragments/saving-throws.css"/>
    <link rel="stylesheet" th:href="@{/fragments/shared.css}"/>
    <link rel="stylesheet" href="../../static/fragments/shared.css"/>
    <link rel="stylesheet" th:href="@{/fragments/saving-throws.css}"/>
    <form class="stats-bar">
        <div class="saving-throws-box">
            SAVING THROWS
            <div class="stack-container-left">
              <div>
                <input type="checkbox">
                <input class="value" name="" placeholder="0" /><label for="">STR</label>
              </div>
              <div>
                <input type="checkbox">
                <input class="value" name="" placeholder="0" /><label for="">DEX</label>
              </div>
              <div>
                <input type="checkbox">
                <input class="value" name="" placeholder="0" /><label for="">CON</label>
              </div>
              <div>
                <input type="checkbox">
                <input class="value" name="" placeholder="0" /><label for="">INT</label>
              </div>
              <div>
                <input type="checkbox">
                <input class="value" name="" placeholder="0" /><label for="">WIS</label>
              </div>
              <div>
                <input type="checkbox">
                <input class="value" name="" placeholder="0" /><label for="">CHA</label>
              </div>
            </ul>
        </div>
    </form>
</div>