<div th:fragment="skills">
    <link rel="stylesheet" th:href="@{/fragments/skills.css}"/>
    <link rel="stylesheet" th:href="@{/fragments/shared.css}"/>
    <link rel="stylesheet" href="../../static/fragments/skills.css"/>
    <link rel="stylesheet" href="../../static/fragments/shared.css"/>
    <form class="skills-module">
        <div class="skills-box">
            <div class="stack-container">
                <div class="horizontal-container">
                    <input type="checkbox"><span class="skill-checkbox"></span>
                    <input class="skill-value" placeholder="+0" type="text" />
                    <label for="Acrobatics">Acrobatics <span class="skill">(Dex)</span></label>
                </div>
                <div class="horizontal-container">
                    <input name="Animal Handling-prof" type="checkbox" />
                    <input class="skill-value" placeholder="+0" type="text" />
                    <label for="Animal Handling">Animal Handling <span class="skill">(Wis)</span></label>
                </div>
                <div class="horizontal-container">
                    <input name="Arcana-prof" type="checkbox" />
                    <input class="skill-value" placeholder="+0" type="text" />
                    <label for="Arcana">Arcana <span class="skill">(Int)</span></label>
                </div>
                <div class="horizontal-container">
                    <input name="Athletics-prof" type="checkbox" />
                    <input class="skill-value" placeholder="+0" type="text" />
                    <label for="Athletics">Athletics <span class="skill">(Str)</span></label>
                </div>
                <div class="horizontal-container">
                    <input name="Deception-prof" type="checkbox" />
                    <input class="skill-value" placeholder="+0" type="text" />
                    <label for="Deception">Deception <span class="skill">(Cha)</span></label>
                </div>
                <div class="horizontal-container">
                    <input name="History-prof" type="checkbox" />
                    <input class="skill-value" placeholder="+0" type="text" />
                    <label for="History">History <span class="skill">(Int)</span></label>
                </div>
                <div class="horizontal-container">
                    <input name="Insight-prof" type="checkbox" />
                    <input class="skill-value" placeholder="+0" type="text" />
                    <label for="Insight">Insight <span class="skill">(Wis)</span></label>
                    </div>
                <div class="horizontal-container">
                    <input name="Intimidation-prof" type="checkbox" />
                    <input class="skill-value" placeholder="+0" type="text" />
                    <label for="Intimidation">Intimidation <span class="skill">(Cha)</span></label>
                </div>
                <div class="horizontal-container">
                    <input name="Investigation-prof" type="checkbox" />
                    <input class="skill-value" placeholder="+0" type="text" />
                    <label for="Investigation">Investigation <span class="skill">(Int)</span></label>
                </div>
                <div class="horizontal-container">
                    <input name="Medicine-prof" type="checkbox" />
                    <input class="skill-value" placeholder="+0" type="text" />
                    <label for="Medicine">Medicine <span class="skill">(Wis)</span></label>
                </div>
                <div class="horizontal-container">
                    <input name="Nature-prof" type="checkbox" />
                    <input class="skill-value" placeholder="+0" type="text" />
                    <label for="Nature">Nature <span class="skill">(Int)</span></label>
                </div>
                <div class="horizontal-container">
                    <input name="Perception-prof" type="checkbox" />
                    <input class="skill-value" placeholder="+0" type="text" />
                    <label for="Perception">Perception <span class="skill">(Wis)</span></label>
                </div>
                <div class="horizontal-container">
                    <input name="Performance-prof" type="checkbox" />
                    <input class="skill-value" placeholder="+0" type="text" />
                    <label for="Performance">Performance <span class="skill">(Cha)</span></label>
                </div>
                <div class="horizontal-container">
                    <input name="Persuasion-prof" type="checkbox" />
                    <input class="skill-value" placeholder="+0" type="text" />
                    <label for="Persuasion">Persuasion <span class="skill">(Cha)</span></label>
                </div>
                <div class="horizontal-container">
                    <input name="Religion-prof" type="checkbox" />
                    <input class="skill-value" placeholder="+0" type="text" />
                    <label for="Religion">Religion <span class="skill">(Int)</span></label>
                </div>
                <div class="horizontal-container">
                    <input name="Sleight of Hand-prof" type="checkbox" />
                    <input class="skill-value" placeholder="+0" type="text" />
                    <label for="Sleight of Hand">Sleight of Hand <span class="skill">(Dex)</span></label>
                </div>
                <div class="horizontal-container">
                    <input name="Stealth-prof" type="checkbox" />
                    <input class="skill-value" placeholder="+0" type="text" />
                    <label for="Stealth">Stealth <span class="skill">(Dex)</span></label>
                </div>
                <div class="horizontal-container">
                    <input name="Survival-prof" type="checkbox" />
                    <input class="skill-value" placeholder="+0" type="text" />
                    <label for="Survival">Survival <span class="skill">(Wis)</span></label>
                </div>
            </div>
        </div>
    </form>
</div>

