<div th:fragment="skills">
    <link rel="stylesheet" th:href="@{/fragments/skills.css}"/>
    <link rel="stylesheet" th:href="@{/fragments/shared.css}"/>
    <link rel="stylesheet" href="../../static/fragments/skills.css"/>
    <link rel="stylesheet" href="../../static/fragments/shared.css"/>

    <div class="round-box">
        <form th:action="@{sheet}" th:object="${sheet}" method="get">
            <div class="stack-container">
                <div class="horizontal-container">
                    <input th:checked="*{skills.acrobatics.y}" id="acrobaticsCheckbox" type="checkbox" onchange="updateSkills()" />
                    <input th:field="*{skills.acrobatics.x}" id="acrobatics" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>Acrobatics<span class="skill">(Dex)</span></label>
                </div>
                <div class="horizontal-container">
                    <input th:checked="*{skills.animalHandling.y}" id="animalHandlingCheckbox" type="checkbox" onchange="updateSkills()" />
                    <input th:field="*{skills.animalHandling.x}" id="animalHandling" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>Animal Handling<span class="skill">(Wis)</span></label>
                </div>
                <div class="horizontal-container">
                    <input th:checked="*{skills.arcana.y}" id="arcanaCheckbox" type="checkbox" onchange="updateSkills()" />
                    <input th:field="*{skills.arcana.x}" id="arcana" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>Arcana<span class="skill">(Int)</span></label>
                </div>
                <div class="horizontal-container">
                    <input th:checked="*{skills.athletics.y}" id="athleticsCheckbox" type="checkbox" onchange="updateSkills()" />
                    <input th:field="*{skills.athletics.x}" id="athletics" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>Athletics<span class="skill">(Str)</span></label>
                </div>
                <div class="horizontal-container">
                    <input th:checked="*{skills.deception.y}" id="deceptionCheckbox" type="checkbox" onchange="updateSkills()" />
                    <input th:field="*{skills.deception.x}" id="deception" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>Deception<span class="skill">(Cha)</span></label>
                </div>
                <div class="horizontal-container">
                    <input th:checked="*{skills.history.y}" id="historyCheckbox" type="checkbox" onchange="updateSkills()" />
                    <input th:field="*{skills.history.x}" id="history" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>History<span class="skill">(Int)</span></label>
                </div>
                <div class="horizontal-container">
                    <input th:checked="*{skills.insight.y}" id="insightCheckbox" type="checkbox" onchange="updateSkills()" />
                    <input th:field="*{skills.insight.x}" id="insight" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>Insight<span class="skill">(Wis)</span></label>
                    </div>
                <div class="horizontal-container">
                    <input th:checked="*{skills.intimidation.y}" id="intimidationCheckbox" type="checkbox" onchange="updateSkills()"/>
                    <input th:field="*{skills.intimidation.x}" id="intimidation" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>Intimidation<span class="skill">(Cha)</span></label>
                </div>
                <div class="horizontal-container">
                    <input th:checked="*{skills.investigation.y}" id="investigationCheckbox" type="checkbox" onchange="updateSkills()" />
                    <input th:field="*{skills.investigation.x}" id="investigation" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>Investigation<span class="skill">(Int)</span></label>
                </div>
                <div class="horizontal-container">
                    <input th:checked="*{skills.medicine.y}" id="medicineCheckbox" type="checkbox" onchange="updateSkills()" />
                    <input th:field="*{skills.medicine.x}" id="medicine" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>Medicine<span class="skill">(Wis)</span></label>
                </div>
                <div class="horizontal-container">
                    <input th:checked="*{skills.nature.y}" id="natureCheckbox" type="checkbox" onchange="updateSkills()" />
                    <input th:field="*{skills.nature.x}" id="nature" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>Nature<span class="skill">(Int)</span></label>
                </div>
                <div class="horizontal-container">
                    <input th:checked="*{skills.navigation.y}" id="navigationCheckbox" type="checkbox" onchange="updateSkills()" />
                    <input th:field="*{skills.navigation.x}" id="navigation" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>Navigation<span class="skill">(Int)</span></label>
                </div>
                <div class="horizontal-container">
                    <input th:checked="*{skills.perception.y}" id="perceptionCheckbox" type="checkbox" onchange="updateSkills()" />
                    <input th:field="*{skills.perception.x}" id="perception" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>Perception<span class="skill">(Wis)</span></label>
                </div>
                <div class="horizontal-container">
                    <input th:checked="*{skills.performance.y}" id="performanceCheckbox" type="checkbox" onchange="updateSkills()" />
                    <input th:field="*{skills.performance.x}" id="performance" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>Performance<span class="skill">(Cha)</span></label>
                </div>
                <div class="horizontal-container">
                    <input th:checked="*{skills.persuasion.y}" id="persuasionCheckbox" type="checkbox" onchange="updateSkills()" />
                    <input th:field="*{skills.persuasion.x}" id="persuasion" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>Persuasion<span class="skill">(Cha)</span></label>
                </div>
                <div class="horizontal-container">
                    <input th:checked="*{skills.religion.y}" id="religionCheckbox" type="checkbox" onchange="updateSkills()" />
                    <input th:field="*{skills.religion.x}" id="religion" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>Religion<span class="skill">(Int)</span></label>
                </div>
                <div class="horizontal-container">
                    <input th:checked="*{skills.sleightOfHand.y}" id="sleightOfHandCheckbox" type="checkbox" onchange="updateSkills()" />
                    <input th:field="*{skills.sleightOfHand.x}" id="sleightOfHand" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>Sleight of Hand<span class="skill">(Dex)</span></label>
                </div>
                <div class="horizontal-container">
                    <input th:checked="*{skills.stealth.y}" id="stealthCheckbox" type="checkbox" onchange="updateSkills()" />
                    <input th:field="*{skills.stealth.x}" id="stealth" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>Stealth<span class="skill">(Dex)</span></label>
                </div>
                <div class="horizontal-container">
                    <input th:checked="*{skills.survival.y}" id="survivalCheckbox" type="checkbox" onchange="updateSkills()" />
                    <input th:field="*{skills.survival.x}" id="survival" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>Survival<span class="skill">(Wis)</span></label>
                </div>
                <div class="horizontal-container">
                    <input th:checked="*{skills.passiveWisdom.y}" id="passiveWisdomCheckbox" type="checkbox" onchange="updateSkills()" />
                    <input th:field="*{skills.passiveWisdom.x}" id="passiveWisdom" class="skill-value" placeholder="+0" type="text" onchange="updateSkills()" />
                    <label>Passive Wisdom<span class="skill">(Wis)</span></label>
                </div>
            </div>
        </form>
    </div>
</div>

