<div th:fragment="spellcasting">
    <link rel="stylesheet" href="../../static/fragments/spellcasting.css"/>
    <form class="spellcasting">
        <section class="">
            SPELLCASTING
            <ul>
              <li>
                <label for="class"></label><input name="class" placeholder="0" />
                <label for="class">SC ABILITY</label><input name="class" placeholder="0" />
              </li>
              <li>
                <label for="class"></label><input name="class" placeholder="0" />
                <label for="level">SPELL DC</label><input name="level" placeholder="0" />
              </li>
              <li>
                <label for="class"></label><input name="class" placeholder="0" />
                <label for="race">ATK BONUS</label><input name="race" placeholder="0" />
              </li>
              <li>
            </ul>
        </section>
    </form>
</div>