<div th:fragment="spellcasting">
    <link rel="stylesheet" href="../../static/fragments/spellcasting.css"/>
    <link rel="stylesheet" th:href="@{/fragments/shared.css}"/>
    <link rel="stylesheet" href="../../static/fragments/shared.css"/>
    <link rel="stylesheet" th:href="@{/fragments/spellcasting.css}"/>

    <div class="box">
        <form th:action="@{sheet}" th:object="${sheet}" method="get">
            SPELLCASTING
            <div class="stack-container-left">
                <div class="horizontal-container">
                    <input th:field="*{spellcasting.scAbility.x}" id="sc-ability-addend" class="value" name="class" placeholder="0" onchange="updateSpellcasting()" />
                    <div class="stack-container">
                        <label for="">SC ABILITY</label>
                        <input th:field="*{spellcasting.scAbility.y}" id="sc-ability" class="bottom-box" name="class" placeholder="0" onchange="updateSpellcasting()" />
                    </div>
                </div>
            </div>

            <div class="stack-container-left">
                <div class="horizontal-container">
                    <input th:field="*{spellcasting.spellDC.x}" id="spell-dc-addend" class="value" name="class" placeholder="0" onchange="updateSpellcasting()" />
                    <div class="stack-container">
                        <label for="">SPELL DC</label>
                        <input th:field="*{spellcasting.spellDC.y}" id="spell-dc" class="bottom-box" name="level" placeholder="0" onchange="updateSpellcasting()" />
                    </div>
                </div>
            </div>

            <div class="stack-container-left">
                <div class="horizontal-container">
                    <input th:field="*{spellcasting.atkBonus.x}" id="atkBonus-addend" class="value" name="class" placeholder="0" onchange="updateSpellcasting()" />
                    <div class="stack-container">
                        <label for="">ATK BONUS</label>
                        <input th:field="*{spellcasting.atkBonus.y}" id="atkBonus" class="bottom-box" name="race" placeholder="0" onchange="updateSpellcasting()" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>