<div th:fragment="status">
    <link rel="stylesheet" th:href="@{/fragments/status.css}"/>
    <link rel="stylesheet" th:href="@{/fragments/shared.css}"/>
    <link rel="stylesheet" href="../../static/fragments/status.css"/>
    <link rel="stylesheet" href="../../static/fragments/shared.css"/>

    <div class="horizontal-container">
        <img src="../../static/img/banner.jpg" width="50" height="50">
        <div class="stack-container">
            <div class="horizontal-container">
                mio <3
                <img src="../../static/img/banner.jpg" width="20" height="20">
                <img src="../../static/img/banner.jpg" width="20" height="20">
            </div>
            Status
        </div>
    </div>
</div>