<div th:fragment="stats">
    <link rel="stylesheet" th:href="@{/fragments/stats.css}"/>
    <link rel="stylesheet" th:href="@{/fragments/shared.css}"/>
    <link rel="stylesheet" href="../../static/fragments/stats.css"/>
    <link rel="stylesheet" href="../../static/fragments/shared.css"/>

    <div class="stack-container">
        <form th:action="@{sheet}" th:object="${sheet}" method="get">
            <div class="stack-container">
                <input th:field="*{details.characterName}" id="characterName" onchange="updateDetails()" />
                <input th:field="*{details.atName}" id="atName" onchange="updateDetails()" />
                <input th:field="*{details.age}" id="age" onchange="updateDetails()" /><label for="age">AGE:</label><br>
                <input th:field="*{details.height}" id="height" onchange="updateDetails()" /><label for="height">HEIGHT:</label><br>
                <input th:field="*{details.weight}" id="weight" onchange="updateDetails()" /><label for="weight">WEIGHT:</label><br>
            </div>

            <div class="proficiency-bonus">
                <div class="stack-container">
                    <input th:field="*{stats.proficiencyBonus}" id="proficiencyBonus" onchange="updateStats()" />
                    Proficiency Bonus
                </div>
            </div>

            <div class="horizontal-space-between-container">
                <div class="stat-box">
                    <div class="stack-container">
                        str
                        <input th:field="*{stats.strength.x}" id="strStatAddend" onchange="updateStats()" />
                        <input th:field="*{stats.strength.y}" id="strStat" onchange="updateStats()" />
                    </div>
                </div>
                <div class="stat-box">
                    <div class="stack-container">
                        dex
                        <input th:field="*{stats.dexterity.x}" id="dexStatAddend" onchange="updateStats()" />
                        <input th:field="*{stats.dexterity.y}" id="dexStat" onchange="updateStats()" />
                    </div>
                </div>
                <div class="stat-box">
                    <div class="stack-container">
                        con
                        <input th:field="*{stats.constitution.x}" id="conStatAddend" onchange="updateStats()" />
                        <input th:field="*{stats.constitution.y}" id="conStat" onchange="updateStats()" />
                    </div>
                </div>
            </div>

            <div class="horizontal-space-between-container">
                <div class="stat-box">
                    <div class="stack-container">
                        int
                        <input th:field="*{stats.intelligence.x}" id="intStatAddend" onchange="updateStats()" />
                        <input th:field="*{stats.intelligence.y}" id="intStat" onchange="updateStats()" />
                    </div>
                </div>
                <div class="stat-box">
                    <div class="stack-container">
                        wis
                        <input th:field="*{stats.wisdom.x}" id="wisStatAddend" onchange="updateStats()" />
                        <input th:field="*{stats.wisdom.y}" id="wisStat" onchange="updateStats()" />
                    </div>
                </div>
                <div class="stat-box">
                    <div class="stack-container">
                        cha
                        <input th:field="*{stats.charisma.x}" id="chaStatAddend" onchange="updateStats()" />
                        <input th:field="*{stats.charisma.y}" id="chaStat" onchange="updateStats()" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>