<div th:fragment="stats-bar">
  <div th:fragment="stats-bar">
      <link rel="stylesheet" th:href="@{/fragments/statsbar.css}"/>
      <link rel="stylesheet" th:href="@{/fragments/shared.css}"/>
      <link rel="stylesheet" href="../../static/fragments/statsbar.css"/>
      <link rel="stylesheet" href="../../static/fragments/shared.css"/>
      <form class="">
          <section class="">
            <div class="stats-box">
              <ul class="stats-bar">
                <li>
                  <div class="stack-container">
                    <label for="followers">FOLLOWERS</label>
                    <input name="num-followers" placeholder="0" />
                  </div>
                </li>
                <li>
                  <div class="stack-container">
                    <label for="class">CLASS</label>
                    <input name="class" placeholder="0" />
                  </div>
                </li>
                <li>
                  <div class="stack-container">
                    <label for="level">LEVEL</label>
                    <input name="level" placeholder="0" />
                  </div>
                </li>
                <li>
                  <div class="stack-container">
                    <label for="race">RACE</label>
                    <input name="race" placeholder="0" />
                  </div>
                </li>
                <li>
                  <div class="stack-container">
                    <label for="alignment">ALIGNMENT</label>
                    <input name="alignment" placeholder="0" />
                  </div>
                </li>
              </ul>
            </div>
          </section>
      </form>
  </div>
</div>